@import '../../../styles/settings.scss';

.root {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  .image {
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: .5rem;
  }
}

.pagination_wrapper {
  width: 80%;
  height: 40px;
  list-style: none;
  margin: 40px 0;
  display: flex;
  justify-content: center;
}
.pagination_wrapper a {
  padding: 10px;
  margin: 8px;
  border: 1px solid black;
  cursor: pointer;
}

.pagination_wrapper a:hover {
  background-color: #Edb449;
}

.active a {
  background-color: #Edb449;
}


@media (min-device-width: 280px) and (max-device-width: 767px) {

  .root {
    .image {
      width: 300px;
      height: 300px;
    }
  }

}

@media (min-device-width: 768px) and (max-device-width: 1024px) {
  
  .root {
    .image {
      width: 300px;
      height: 300px;
    }
  }

}
